<div class="row" style=" height:100%; min-height:500px;">
    <!--MAIN-->
    <div class="col-md-9" style="height:800px; padding-right:0px;">
        <div style="border-radius:8px; border: 1px solid #a09e9e;">
            <div class="main-header"><h2 style="font-size: 22px; color:#66757f; margin:20px 0px 0px 15px;">Contact Us</h2><hr /></div>
            <!--CONTENT GOES HERE-->
            <div style="margin:0px 20px 10px 20px;">
                <p style="font-size: 12px; color: #8899a6;">See a potential breeding habitat? You may wish to notify us through our E-Mail at Dengue@ttgy.sg or alternatively, you may use the form below to contact us.</p>
                @using (Html.BeginForm())
                {
                    <div class="form-group">
                        <label for="exampleInputEmail1">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Contact No.</label>
                        <input type="number" class="form-control" name="contactNo" placeholder="Contact No.">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">E-Mail Address</label>
                        <input type="email" class="form-control" name="email" placeholder="E-Mail Address">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Description</label>
                        <textarea rows="6" class="form-control" name="description" placeholder="Give a brief description of the breeding habitat."></textarea>
                    </div>
                    <button style="width:80px;" class="btn btn-primary" type="submit">Submit</button>
                }
            </div>
        </div>
    </div>
    <!-- RIGHT SIDE-->
    <div class="col-md-3" style="height:100%; padding-left:7px;">
        <div style="height:330px;">
            <div style="border-style:solid; height:165px; border-radius:8px; border: 1px solid #a09e9e; margin-bottom:1px;">
                <div style="background-color: rgb(245,248,250); height:70px; text-align:center; padding-top:16px; color: #282020;">
                    Cases reported this week as of 16/02/2016:
                </div>
                <div style="color: #2a6496; font-size:35px; text-align:center; padding-top:20px;">
                    50
                </div>
            </div>
            <div style="border-style:solid; height:165px; border-radius:8px; border: 1px solid #a09e9e; ">
                <div style="background-color: rgb(245,248,250); height:70px; text-align:center; padding-top:16px; color: #282020;">
                    Cases reported this year as of 01/01/2016:
                </div>
                <div style="color: #2a6496; font-size:35px; text-align:center; padding-top:20px;">
                    @ViewData["noDengueCase"]
                </div>
            </div>
            <div style="border-radius:8px;  height:100%;">
                <div style="height: 125px; margin-bottom:1px; border: 1px solid #a09e9e; border-radius:8px;">
                    <div style="background-color: rgb(245,248,250); height:35px; text-align:center; padding-top:8px; color: #282020;">
                        Report Case
                    </div>
                    <div id="toStyleDiv" style="height:150px; text-align:center; padding-top:10px; ">
                        <span>See a potential dengue habitat?</span>
                        <br />
                        <button style="margin-top:8px;width:150px;" class="btn btn-danger"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span> @Html.ActionLink("Contact Us", "ContactUs")</button>
                    </div>
                </div>
                <div style="border: 1px solid #a09e9e; border-radius:8px; height:185px;">
                    <div style="background-color: rgb(245,248,250); height:70px; text-align:center; padding-top:8px; color: #282020;">
                        Evaluate Area
                        <p style="margin-top:5px;font-size: 11px; color: #8899a6;">Curious about the dengue condition in your area?<br> Let us check for you.</p>
                    </div>
                    <div>
                        @using (Html.BeginForm("EvaluateArea", "HomeController"))
                        {
                            <div class="form-group" style="margin:8px 0px 15px 25px; width:80%; text-align:center;">
                                <label for="exampleInputEmail1">Input your current area</label>
                                <input type="text" class="form-control" placeholder="Location" id="evaluateArea_Input">
                                <button style="margin-top:5px; width:150px;" type="submit" class="btn btn-success"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Evaluate</button>
                            </div>
                        }
                    </div>
                </div>
                <div style="height:120px; margin-top:1px;">
                    <a href="https://www.facebook.com/Stop.Dengue.Now" target="_blank"><img style="margin-left:1px; margin-top:0.5px; height:99%; width:100%;" src="~/Content/Images/fb_dengue.jpg" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}