@{
    ViewBag.Title = "Contact Us";
}



<!--CONTENT GOES HERE-->
<div style="margin:0px 20px 10px 20px; height:665px;">
    @if (ViewBag.contactedUs == "true") {
        <p style="color:red;">We have received your inquiry. Thank you for contacting us!</p>
    }
    <p style="font-size: 12px; color: #8899a6;">See a potential breeding habitat? You may wish to notify us through our E-Mail at Dengue@ttgy.sg or alternatively, you may use the form below to contact us.</p>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            <label for="exampleInputEmail1">Name</label>
            <input type="text" class="form-control" name="name" placeholder="Name">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Contact No.</label>
            <input type="number" class="form-control" name="contactNo" placeholder="Contact No.">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">E-Mail Address</label>
            <input type="email" class="form-control" name="email" placeholder="E-Mail Address">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Description</label>
            <textarea rows="6" class="form-control" name="description" placeholder="Give a brief description of the breeding habitat."></textarea>
        </div>
        <button style="width:80px;" class="btn btn-primary" type="submit">Submit</button>
    }
</div>
       

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}