<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="~/Scripts/DengueCluster.js"></script>

@model IEnumerable<Dengue.Models.DengueCluster>

@{
    ViewBag.Title = "Dengue Cluster";
}

<style>
    td {
        word-wrap: break-word;
    }
</style>


<!--CONTENT GOES HERE-->
<div style="margin:0px 0px 10px 15px;">
    <div style="margin:0px 0px 15px 5px;">
        @using (Html.BeginForm())
        {
            @Html.TextBox("search", "", new { placeholder = "Enter your search here", id="searchInput" })
            <input type="submit" name="search" value="Search" />
        }
    </div>

    <div style="overflow:auto; height:640px; margin-right:3px;">
        
        <div id="ResultPartialContainer">
            @Html.Action("ResultPartial", "DengueClusters")
        </div>

    </div>

</div>
       

