@model IEnumerable<Dengue.Models.DengueCluster>

<table class="table" style=" width:100%; " border="1">
    <tr>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.location)
        </th>
        <th style="text-align:center;">
            @Html.ActionLink("Number of Cases", "Index", new { sortCases = ViewBag.PriceSortParm })

        </th>
        <th style="text-align:center;">
            View Cluster
        </th>
    </tr>
    @foreach (var item in Model)
            {
        <tr>
            <td style="width:10%; max-width:530px;">
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td style="width:4%; text-align:center;">
                @Html.DisplayFor(modelItem => item.No_of_Cases)
            </td>
            <td style="width:4%; text-align:center;">
                <a href=@Html.DisplayFor(modelItem => item.Hyperlink) target="_blank">View</a>
            </td>
        </tr>
    }
</table>
